.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: min(800px, 70vw);
    width: min(800px, 70vw);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #009879;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #333333;
    background-color: #3d3d3d;
    color: white;
}

.styled-table tbody tr:nth-of-type(even) {
    border-bottom: 1px solid #333333;
    background-color: #2d2d2d;
    color: white;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}