<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About - BLÅHAJ</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><span class="fw-bolder text-primary">BLÅHAJ</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link"
                                href="https://www.ikea.com/sg/en/p/blahaj-soft-toy-shark-10373589/">BUY</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">About BLÅHAJ</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Overview Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">Overview</h2>
                        </div>
                        <!-- Overview text-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-3 rounded-4">
                                            <img width="100%"
                                            src="/static/assets/blahaj.png" />
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div>Blåhaj (stylized BLÅHAJ, Swedish pronunciation: [ˈbloːhaj], lit. 'blue
                                            shark'; colloquially anglicised as /ˈblɑːhɑːʒ/,
                                            /ˈblɑːhɑː/ or /ˈbloʊhaɪ/) is a plush toy manufactured and sold by the
                                            Swedish company IKEA. Modeled after a blue shark
                                            and made of recycled polyester, the toy has gained prominence on social
                                            media as a popular internet meme, especially in
                                            the transgender community, and has also been used as a mascot by IKEA in
                                            some regions.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- Production and Distribution Section-->
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Production and Distribution</h2>
                        <!-- Production and Distribution Text-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-8">
                                        <div>In September 2021, Twitter accounts representing IKEA in Ireland and in Singapore, in response to customers enquiring
                                        about the toy, claimed that Blåhaj would be discontinued in April 2022. Sources later confirmed that it had been out
                                        of stock or delisted from IKEA's stores in China, Taiwan, and Singapore. However, IKEA's USA Twitter account later
                                        stated that the toy would remain available for sale in the United States. Later, IKEA's Media Relations team
                                        clarified that the plush would not be discontinued, but online shop and internal store listings in several countries
                                        were simply reflecting a supply chain issue. In early 2022, new Blåhaj plushes were found to have been
                                        made in Indonesia, indicating that they had switched suppliers during that period.</div>
                                    </div>
                                    
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-3 rounded-4">
                                            <img width="100%"
                                                src="https://www.ikea.com/sg/en/images/products/blahaj-soft-toy-shark__1208919_pe908910_s5.jpg?f=s" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Physical Properties Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">Physical Properties</h2>
                        </div>
                        <!-- Physical Properties text-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-3 rounded-4">
                                            <img width="100%"
                                            src="https://upload.wikimedia.org/wikipedia/en/b/b3/IKEA_Bl%C3%A5haj_plush_shark_toys_-_regular_and_small_variants_-_side_and_bottom_views.png" />
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div>Blåhaj is a 100 cm (39+1⁄4 in) long stuffed toy resembling a blue shark and stuffed with recycled polyester. It can be
                                        machine-washed at 40°C (104°F).
                                        <br><br>
                                        A small, 55 cm (21+3⁄4 in) long variant of the Blåhaj is also available.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- Skills Section-->
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Modern Culture</h2>

                        <!-- Education Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-12">
                                        <div>In 2018, Blåhaj grew to prominence as an internet meme, with social media users posting humorous photos of it
                                        in their homes. Around this time, Blåhaj began to be associated with LGBT and particularly transgender individuals,
                                        in part due to being colored similarly to the transgender flag. IKEA was seen as acknowledging this phenomenon
                                        (despite not openly declaring such) when the company ran a series of ads in support of the 2021 Swiss same-sex marriage
                                        referendum featuring the toy. Due to this association, Blåhaj has become commonly regarded as a symbol of the online
                                        transgender community.
                                        
                                        The toy has continued to inspire memes and social media posts on Instagram, Twitter, Reddit, and TikTok, and
                                        is a popular product in numerous territories. Blåhaj also made a brief appearance in the Marvel Studios-produced
                                        television series Hawkeye.
                                        
                                        In response to the announcement that the sale of Blåhaj would be discontinued in certain regions, the term "Blåhaj"
                                        trended as a topic on social media for several days as fans of the toy claimed it was becoming "extinct".
                                        Similarly, the toy was also displayed at some IKEA stores in Hong Kong to demonstrate the functionality of vacuum bags
                                        in a store display, which elicited a similar social media response.
                                        
                                        In response to the toy's popularity, IKEA has produced a line of Blåhaj shopping bags which are sold at its stores in
                                        some regions, including Taiwan and Malaysia. IKEA has also used Blåhaj in marketing material; IKEA Japan used
                                        the toy as a mascot in a marketing campaign for tiny apartments sold by IKEA in the region. In the campaign, a Blåhaj
                                        plays a real estate agent who envisions a tiny apartment. IKEA of Malaysia and Taiwan sold red-bean and sesame
                                        filled buns resembling Blåhaj. IKEA Hong Kong featured Blåhaj as part of an advertising campaign for its Tsim
                                        Sha Tsui branch, punning the location as "Tsim Shark Tsui".
                                        
                                        In November 2022, IKEA Canada hosted a giveaway offering transgender individuals a special edition Blåhaj in the colors
                                        of the transgender pride flag, and with their name embroidered on their fin. One of these was gifted to a sexual
                                        health centre in Halifax, Nova Scotia.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">Credits to <a href="https://en.wikipedia.org/wiki/Bl%C3%A5haj">Wikipedia</a> for providing the information</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

<!-- Oops, this is where I left the first part of the flag. -->
<!-- blahaj{i_l0v3_b14 -->
<!-- If only I knew where to find the other parts of the flag... -->

</html>